{%- if variant.compare_at_price > variant.price -%}
  <span class="banner-product__price-sale" data-price>{{ variant.price | money }}</span>
  <s class="banner-product__compare-price" data-compare-price>{{ variant.compare_at_price | money }}</s>
{%- else -%}
  <span class="banner-product__price-regular" data-price>{{ variant.price | money }}</span>
{%- endif -%}
