{%- if variant.compare_at_price > variant.price -%}
  <span class="{% if section.settings.dark_mode %}text-white{% endif %}" data-price>{{ variant.price | money }}</span>
  <s class="line-through decoration-red-600 {% if section.settings.dark_mode %}decoration-red-400 text-gray-300{% endif %}" data-compare-price>{{ variant.compare_at_price | money }}</s>
{%- else -%}
  <span class="{% if section.settings.dark_mode %}text-white{% endif %}" data-price>{{ variant.price | money }}</span>
{%- endif -%}
