body {
  font-family: 'Poppins', sans-serif;
}

.skip-to-content {
  position: absolute;
  top: -100px;
  left: 0;
  z-index: 9999;
  padding: 1rem 1.5rem;
  background-color: #000;
  color: #fff;
}

.skip-to-content:focus {
  top: 0;
  outline: 3px solid #3b82f6;
}
